/*colores*/
$standar-black: rgba(0, 0, 0, 1);
$main_background: rgba(174, 19, 50, 1);
$second_background: rgba(164, 203, 102, 1);
$third_background: rgba(245, 206, 19, 1);
$letter: rgba(255, 255, 255);
